<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="pa-0">
        <v-img src="../assets/ad.gif" class="my-3" contain height="200" />
      </v-col>
      <v-col cols="12">
        <v-img :src="require('../assets/logo.png')" class="my-3" contain height="100" />
      </v-col>
    </v-row>

    <v-row dense class="mt-4 text-center">
      <v-col class="mb-4" width="300">
        <h1 class="display-2 font-weight-bold mb-3">בין המיתרים - סיפורו של סטיב אוקנפור</h1>
      </v-col>
      <!-- main -->
      <v-row class="centerit" dense no-gutters>
        <v-col cols="6" class="fixtext">
          <p class="subheading font-weight-regular">
            בין המיתרים - סיפורו של סטיב אוקנפור
            עם תרגום מובנה
            91 דקות. 2020.
            ביים: מרקוס ויינפלד
          </p>
          <p class="subheading font-weight-regular">
            סיפור חייו המרגש של הגיטריסט האגדי שהחל את חייו בפרבר עלוב בממפיס ומצא את עצמו קרוע בין אהבתו למולדת לבין התאהבות סוחפת בשישה מיתרים.
            אוקנפור, 47, מגלם את עצמו. כשהסרט מגיע לימינו אנו, יצא בהכרזה לפיה "כל מה שגיטריסט צריך לדעת נמצא בשעה וחצי הזו" וכי הוא מבטיח חגיגית שמי שיצפה בסרט במתינות ובהאזנה לפס קול הסוחף ימצא את עצמו "די במהרה מדלג על משוכות ששת המיתרים והופך לנגן מופלא."
          </p>
        </v-col>
        <v-col cols="6">
          <v-img src="../assets/cover.jpg" class="my-3" contain height="300" />
        </v-col>
      </v-row>
      <v-col class="mb-4" cols="12"></v-col>

      <v-col class="mb-5 pb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">להורדת הסרט לחץ כאן</h2>
        <v-btn class="ma-2" color="primary" :loading="loading" @click="loading=true">הורדה מהירה</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      loading: false,
    };
  },
};
</script>

<style>
.fix {
  width: 853px;
  margin: 0 auto;
}
.container {
  max-width: 960px !important;
}

.fixtext {
  text-align: right;
  direction: rtl;
}

.centerit {
  align-items: center;
}

.topmargin {
  margin-top: -50px;
}
</style>
